.headerDiv {
    color: Red;
    font-style: normal;
    text-align: center;
    background: yellow;
    padding: 15px;
}

.productDiv {

    text-align: center;
}

#underline {
    text-decoration: none;
}